*{
    font-family: "Mulish",sans-serif;
}
.subtitle{
    color:#333;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 5px 0 0 0;
}
.title{
    color:#333;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
body{
    
    justify-content: center;
    background-color: #F8FAFC;
}
main{
    display: flex;
    justify-content: center;
    background-color: #F8FAFC;
    height: 100vh;
}
form{
    background-color: #f5a2a2;
    height: 45vh;
    width: 30%;
    padding: 8px;
    display: flex;
    flex-direction: column;

}
.inputStyle{
    display: flex;
    height: 45px;
    padding: 0px 12px;
    align-items: flex-start;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #dedede;
    
}
label{
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}
.midNav{
    display: flex;

}
.midNav li{
    list-style: none;
    padding: 4px;

}
li a{
    text-decoration: none;
    color: black;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home{
    display: flex;
    padding-left: 10px;
}
.actionButton{
    padding-right: 20px;
    display: flex;
}
.midNav{
    padding: 0 20px 0 20px;
}
.secondaryButton{
    display: flex;
    align-items: center;
    padding:16px 24px;
    justify-content: space-between;
}
.PrimaryButton{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 15px 24px;
    justify-content: center;
    color: #fff;
    background-color: #3450E7;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;

}
@media  (max-width: 640px){
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
}
